DirectoryIndex index.php index.html

# Redirect HTML to PHP for cache busting
RewriteEngine On
RewriteBase /
RewriteRule ^index\.html$ index.php [L,R=301]
RewriteRule ^admin\.html$ admin.php [L,R=301]
